# Root directory
/static/**
docker-compose.dev.yml
car-rental-management.env
todo.txt
buildscript.sh
/**/*.env
**/node_modules
.env.prod
.env.dev

# Server directory
/server/node_modules
/server/src/config/development.js
/server/sqliteDB
/server/todo.txt
/server/src/config/config.json
/server/build

# Client directory
/client/build/**
# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
